[Unit]
Description=Pinba server (Loki storage)
Documentation=https://github.com/pinba-server/pinba-server
After=network.target
Wants=network-online.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/pinba-server
ExecStart=/usr/bin/php /opt/pinba-server/workerman_loki.php start

Restart=always
RestartSec=10

MemoryMax=200M
MemoryAccounting=true

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
